<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>BootStrap Login Form</title>
</head>

<body>
    <section>   
        <div class="container mt-5 pt-5">
            <div class="row">
                <div class="col-12 col-sm-8 col-md-6 m-auto">
                    <div class="card border-0">
                        <div class="card-body">

                            <img class="mb-4 col-md-12" src="/static/img/animation_llz5mcqr_small.gif" alt="" width="80" height="70">
                            <p class="text-center fs-6 font-monospace">Authentication Error</p>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>


</body>

</html>